[submodule "Tests/deps/googletest"]
	path = Tests/deps/googletest
	url = git@github.com:google/googletest.git
[submodule "CommonShared/deps/zstring_view"]
	path = CommonShared/deps/zstring_view
	url = git@github.com:gameraccoon/zstring_view-cpp-20.git
[submodule "CommonShared/deps/lmdb"]
	path = CommonShared/deps/lmdb
	url = git@github.com:gameraccoon/lmdb.git
