name: Ubuntu - check clang-format

on:
  push:
    paths:
      - .github/workflows/check-clang-format.yml
      - ClientCli/src/**
      - ClientShared/include/**
      - ClientShared/src/**
      - CommonShared/include/**
      - CommonShared/src/**
      - ServerCli/src/**
      - ServerShared/include/**
      - ServerShared/src/**
      - platforms/android/app/src/main/cpp/**
      - .clang-format
      - tools/validate/**
  workflow_dispatch:
jobs:
  clang-format-checking:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install clang-format
        run: sudo apt install clang-format
      - name: Apply formating script
        run: tools/validate/reformat.sh
      - name: Fail if any files changed, print the changes
        run: git diff-files -p --exit-code
